.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 1px solid #bdbdbd;
  border-radius: 15px;
  max-width: 420px;
  min-height: 100px;
  animation: fade-in 0.5s ease-out;
  outline: none;
  padding: 30px 40px;
  &-close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 25px;
  }
  &::backdrop {
    background-color: rgba(0,0,0, .6);
  }
  h3 {
    margin: 10px 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}